<h1><%= user.username %></h1>

<div class="row">
    <div class="col s4">
        <img 
        class="materialboxed" 
        width="650" 
        src="<%= user.pic %>" 
        alt="profile pic" 
        style="height: 350px; width: auto;">
    </div>
    <div>
        <p><strong>Name:</strong> <%= user.firstname %> <%= user.lastname %> </p>
        <p><strong>Birthday: </strong> <%= moment(user.birthday).format(' dddd MMMM Do[,] YYYY') %> </p>
        <p><strong>Account Created on: </strong><%= moment(user.createdAt).format('dddd MMMM Do[,] YYYY') %> </p>
        <p>
            <%= user.bio %>
        </p>
        
            <a href="/profile/user/<%= user.id %>"><button type="submit" class="btn-small grey" value="Edit Profile">Edit Profile</button></a>
    </div>
</div>
<div class="row">
    <li class="col s4">
        <a href="/logistics/posting"><i class="large material-icons" style="color: #607d8b;" >add_a_photo</i></a>
    </li>
    <li class="col s4">
        <a href="/logistics/userIndex"><i class="large material-icons" style="color: #607d8b;">people</i></a>
    </li>
    <li class="col s4">
        <a href="/logistics/feed"><i class="large material-icons" style="color: #607d8b;">image</i></a>
    </li>
</div>

<div class="row">
<% posts.forEach(p => { %>
    <% if (p.userId == user.id) { %> 
    <div class="col s4" >
        <ul>
            <li style="height: 550px;">
                <div >
                    <img src="<%= p.picPost %>" style="width: 350px; height: auto;" class="materialboxed" width="650"  >
                    <p><%= p.caption %> </p>
                        <form method="POST" action="/logistics/posts/<%= p.id %>/?_method=DELETE">
                            <input type="submit" class="btn-small red" value="Delete Picture">
                        </form>
                </div>
            </li>
        </ul>
    </div>
    <% } %> 
<% }) %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, []);
    elems.addEventListener('click', elems.open())
  });
</script>